{% load thumbnail static %}
{% load comments %}
<div>
<div class="trc" id="poi_id_{{ poi.id }}">

   <h4>{{ poi }}</h4>
   <div class="row controls">
      {% if can_change %}
      <div class="col-md-2 col-md-offset-4 col-sm-3 centred">
         <a href="{% url 'admin:cyklomapa_poi_change' poi.id %}" class="btn edit" title="Upravit">&#9874;</a>
      </div>
      <div class="col-md-2 col-sm-3 centred">
      {% else %}
      <div class="col-md-2 col-md-offset-6 col-sm-3 col-sm-offset-0 centred">
      {% endif %}
      <a href="#misto={{ poi.marker.layer.slug}}_{{ poi.id }}" class="sprite btn link" title="Odkaz na místo"></a>
      </div>
      <div class="col-md-2 col-sm-3 centred">
         <a href="http://maps.google.com/?q={{ poi|urlencode }}@{{ poi.geom.centroid.y }},{{ poi.geom.centroid.x }}&amp;z=18&amp;t=h" target="pnk_gmap" title="Zobrazit v Google Maps" class="sprite btn gmap"></a>
      </div>
      <div class="col-md-2 col-sm-3 centred">
        <a class="sprite btn close close_poi" title="Zavřít popis místa"></a>
      </div>
   </div>
</div>

<div class="rc txt">
{% if fotky %}
  {% for fotka in fotky %}
    {% thumbnail fotka.photo "300x0" as foto_thumb %}
    {{ fotka }}
    <a href="{{ fotka.photo.url }}" title="{{ fotka }}" data-lightbox="poi-image" data-title="{{ fotka }}">
    <img src="{{ foto_thumb.url }}" title="{{ fotka }}" width="{{ foto_thumb.width }}" height="{{ foto_thumb.height }}" class="foto_thumb"/></a>
  {% endfor %}
{% endif %}

{% if poi.desc %}
    <p>{{ poi.desc|safe }}</p>
{% else %}
    <p>{{ poi.marker }}</p>
{% endif %}
{% if poi.desc_extra %}
    <p>{{ poi.desc_extra|safe }}</p>
{% endif %}
{% if poi.address %}
    <p>Adresa: {{ poi.address|safe }}</p>
{% endif %}

{% if poi.url %}
    <p><a target="_blank" href="{{ poi.url|escape }}" title="{{ poi.url|escape }}">{{ poi.url|escape|truncatewords:4 }}</a></p>
{% endif %}

   <hr/>

   <script>
      $.getScript("{% static "fluent_comments/js/ajaxcomments.js" %}");
   </script>

   {% get_comment_count for poi as comment_count %}
   <div id="comments-wrapper">
      <h3 id="hidden-header" class="margin_t_2">Komentáře ({{ comment_count }})</h3>
      {% render_comment_list for poi %}
      {% render_comment_form for poi %}
   </div>
</div>
</div>
