{% load url from future %}
{% load thumbnail static %}
{% load comments %}
<div>
<div class="trc" id="poi_id_{{ poi.id }}">

   <h4>{{ poi }}</h4>
   <div class="row controls">
      <div class="col-md-2 col-md-offset-4 centred">
        <a href="#misto={{ poi.id }}" class="sprite btn link" title="Odkaz na místo"></a>
      </div>
      <div class="col-md-2 centred">
        <a class="sprite btn print" title="Tisk"></a>
      </div>
      <div class="col-md-2 centred">
         <a href="http://maps.google.com/?q={{ poi|urlencode }}@{{ poi.geom.y }},{{ poi.geom.x }}&amp;z=18&amp;t=h" target="pnk_gmap" title="Zobrazit v Google Maps" class="sprite btn gmap"></a>
      </div>
      {% if can_change %}
      <div class="col-md-2 centred">
         <a href="{% url 'admin:webmap_poi_change' poi.id %}" class="sprite btn edit" title="Upravit"></a>
      </div>
      {% endif %}
      <div class="col-md-2 centred">
        <a class="sprite btn close" title="Zavřít popis místa"></a>
      </div>
   </div>
<script type="text/javascript">
// print page
jQuery(document).ready(function($) {
  $('.print').on('click', function (e) {
    e.preventDefault();
    console.log('print')
    window.print()
  });
});
 </script>
</div>

<div class="rc">
{% if fotky %}
  {% for fotka in fotky %}
    {% thumbnail fotka.photo "250x250" as foto_thumb %}
    <a href="{{ settings.SITE_URL}}{{ fotka.photo.url }}" title="Fotka v plném rozlišení" target="_blank">
    <img src="{{ settings.SITE_URL}}{{ foto_thumb.url }}" title="{{ fotka }}" width="{{ foto_thumb.width }}" height="{{ foto_thumb.height }}" class="foto_thumb"></a>
  {% endfor %}
{% endif %}

{% if poi.desc %}
    <p>{{ poi.desc|safe }}</p>
{% else %}
    <p>{{ poi.znacka }}</p>
{% endif %}
{% if poi.address %}
    <p>Adresa:<br>{{ poi.address|safe }}</p>
{% endif %}

{% if poi.url %}
    <p><a target="_blank" href="{{ poi.url|escape }}" title="{{ poi.url|escape }}">{{ poi.url|escape|truncatewords:4 }}</a></p>
{% else %}
  {% if poi.znacka.url %}
    <p><a target="_blank" href="{{ poi.znacka.url|escape }}" title="{{ poi.znacka.url|escape }}">{{ poi.znacka.url|escape|truncatewords:4 }}</a></p>
  {% endif %}
{% endif %}

   <hr/>

   <script>
      $.getScript("{% static "fluent_comments/js/ajaxcomments.js" %}");
   </script>

   {% get_comment_count for poi as comment_count %}
   <h3 id="hidden-header" class="margin_t_2">Komentáře ({{ comment_count }})</h3>
   <div id="comments-wrapper">
      {% render_comment_list for poi %}
      {% render_comment_form for poi %}
   </div>
</div>
</div>
