*.py[co]
/media/
/static/
/env/
*.swp
*.diff
*.rej
*.orig
/run.sh
/pnk.log
/project/settings_local.py
/apps/cyklomapa/static/bow/
/apps/cyklomapa/static/css/prahounakole.css
/apps/cyklomapa/static/CACHE/
/apps/cyklomapa/templates/compress_cache_manifest.txt
update_local.sh
.htaccess
!.gitkeep
/bin/
/logs/
*~
/db_backup/
.coverage
/node_modules/
/coverage/
/pipenv/
/src/
/share/
/lib/
/include/
*.swo
