easy-thumbnails
-e git+https://github.com/yvandermeer/django-http-proxy.git#egg=django-http-proxy
-e git+https://github.com/linsomniac/python-memcached.git#egg=python-memcached
psycopg2
django-debug-toolbar
django-colorful
django-mass-edit

django-contrib-comments

-e git+https://github.com/allieus/python-akismet.git#egg=akismet
-e git+https://github.com/PetrDlouhy/django-fluent-comments.git@dj19#egg=django-fluent-comments  # Django 1.9 compatibility in PR #73

django-picklefield
django-constance

django-author
django-webmap-corpus>=0.9
-e git+https://github.com/PetrDlouhy/django-leaflet.git@g-m#egg=django-leaflet  # GeoAdminMixin in PR #116
django-smart-selects
django-import-export
raven
django-cors-headers
gunicorn
newrelic
-e git+https://github.com/PetrDlouhy/django-feedback.git#egg=django-feedback

-e git+https://github.com/django-compressor/django-compressor.git@develop#egg=django-compressor
lxml
-e git+https://github.com/PetrDlouhy/django-admin-smoke-tests.git#egg=django-admin-smoke-tests
freezegun
wsgiunproxy
