Pillow==4.1.1
WsgiUnproxy==1.0
contextlib2==0.5.5
diff-match-patch==20110725.1
django-admin-sortable2==0.6.11
django-appconf==1.0.2
django-author==1.0.1
django-colorful==1.2
django-compressor==2.2
django-constance==2.0.0
django-contrib-comments==1.8.0
django-cors-headers==2.1.0
django-crispy-forms==1.7.0
django-feedback==1.1.1
django-filter==1.1.0
django-finegrained-permissions==0.0.1
django-fluent-comments==1.4.3
django-gpxpy==0.0.2
django-http-proxy==0.4.3
django-import-export==0.5.1
django-leaflet==0.22.0
django-mass-edit==3.0
django-media-fixtures==0.0.3
django-picklefield==1.0.0
django-smart-selects==1.5.2
django-tag-parser==3.1
django-webmap-corpus==0.11.1
djangorestframework==3.7.3
easy-thumbnails==2.5
freezegun==0.3.9
gpxpy==1.1.2
gunicorn==19.7.1
lxml==4.1.1
newrelic==2.96.0.80
olefile==0.44
psycopg2==2.7.3.2
python-akismet==0.3.0
python-dateutil==2.6.1
python-memcached==1.58
pytz==2017.3
raven==6.3.0
rcssmin==1.0.6
requests==2.18.4
rjsmin==1.0.12
setuptools-git==1.2
tablib==0.12.1
