easy-thumbnails
django-http-proxy
python-memcached
psycopg2
django-colorful
django-mass-edit
django-admin-sortable2

django-contrib-comments

django-fluent-comments

django-picklefield
django-constance

django-author
-e git+https://github.com/auto-mat/django-webmap-corpus@feature/django20#egg=django-webmap-corpus  # for Django 2.0 support
django-leaflet
django-import-export
raven
django-cors-headers
gunicorn
newrelic
django-feedback

django-compressor
lxml
freezegun
wsgiunproxy
django-media-fixtures
