Django<1.9
easy-thumbnails
django-http-proxy
python-memcached
psycopg2
django-debug-toolbar
django-colorful
django-mass-edit

-e git+https://github.com/PetrDlouhy/django-contrib-comments.git#egg=django-contrib-comments #remove after #a54aff6 is in pip

-e git+https://github.com/PetrDlouhy/django-fluent-comments.git#egg=django-fluent-comments

django-constance-updated[database] #remove this after constance is updated for compatibility with Django 1.8

-e git+https://github.com/auto-mat/django-webmap-corpus.git@formatted_kml#egg=django-webmap-corpus
django-smart-selects
django-import-export
raven
django-cors-headers
gunicorn
newrelic
-e git+https://github.com/PetrDlouhy/django-feedback.git@pnk_improvements#egg=django-feedback

django-compressor
