{% extends "admin/change_form.html" %}
{% load i18n %}

{# Copied from http://djangosnippets.org/snippets/1843/
 + modified by Vasek to hide ID input and used django built-in jQuery.
 The RawIdWidget still shows the old data until you save the form
 which is discussed at http://code.djangoproject.com/ticket/7028 #}
{% block extrahead %} {{ block.super }}
<script type="text/javascript">
//<![CDATA[
    django.jQuery(function($) {
        // Make hyperlinks for labels of raw_id_fields
        $('a.related-lookup').each(function() {
            var td = $(this).parent();
            var id = $('input', td).val();
            var url = $(this).attr('href').split('?')[0] + id + '/';
            $('strong', td).wrap('<a href="' + url + '"></a>');
            $('input', td).hide();
        });
    });
//]]>
</script>
{% endblock %}

