#map {
        top:50px;
	z-index:-1;
	bottom: 0px;
        left:0px;
        right:0px;
        border: 0px;
        padding: 0px;
        position: absolute;
     }
div#map.fullscreen {
        top: 0px;
        bottom: 0px;
}
body {
        border: 0px;
        margin: 0px;
        padding: 0px;
        height: 100%;
	overflow: hidden;
     }

.smallmap {
    width: 512px;
    height: 512px;
    border: 1px solid #ddd;
}
#tags {
    display: none;
}


#head { min-width: 1000px; 
	height: 53px;
	padding-top: 8px;
	padding-left: 8px;
	background: url('bottom_waves.png') repeat-x 0 43px;
	font-family: Georgia, Serif;
}
#titulka a{
	float:left; 
	width:285px; 
	background: url('prazak-ico.png') no-repeat 240px 0;
	color: #800000;
	font-weight: bold;
	font-size: 29px;
	line-height: 40px;
	text-decoration: none;

 }
.menu { float: left; max-height: 30px; margin-left:1px; 
        margin-top:2px; padding: 7px; 
        font-size: 14px; 
	}
.menu a { color: #000000; padding: 5px 10px; text-decoration: none; }
.menu a:hover { text-decoration: underline; }

#bottom { height:50px; left:2px; right:2px; bottom:0px; border: 0px; padding: 0px; position: absolute; }
#bottom a img { max-height:50px; }

#leve_odkazy { float:left; width:60%; clear:none;}
#ShoCart_text { float:right; width:39%;  clear:none; }

body{font-size:11px;margin-bottom:0px;margin-left:0px;margin-top:0px;padding:0;font-family:Arial,Helvetica, sans-serif; }
div{padding:0;margin:0;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
img{border:0;}
h1, h2, h3, h4, h5{font-family:Tahoma, Geneva, sans-serif;}
h2{font-size:16px; font-style:italic;}
h3{font-size:14px;}
h4{font-size:12px;margin-top:2px;}
ol{margin:0 0 10px 0;padding:0;list-style:none;}
li{margin:0 0 8px 0;padding:0;list-style:none;}
td{font-size:10px;}
dt{font-weight:bold;}

/* Overlay left */

#overlay_left {
  display:none;
  width:520px;
  height: 4000px;
/*  top:0 !important; */
  z-index: 9999;
  border:none;
  padding-right:65px;
  background: url(/images/overlay-shadow.png) repeat-y right;
}
.overlay_iframe {
  background-color: white;
  margin-top: 10px;
  width:100%;
  height:3920px;
  overflow-x: hidden;
  overflow-y: hidden;
  border:none;
}              
#overlay_left .close { margin-right:45px; margin-top:10px; }

.small { font-size: 80%; }


/* Open Layers - */

.layersDiv {
  background-color: white !important;
  color: black;
  opacity: 0.95;
}


/* Popup */
.trc { margin-left: 15px; padding-right:20px;}
.trc h4{ margin-bottom: 0;}
/* .rc { margin-left: 24px; padding-right:2px; overflow-y: scroll; max-height:240px; } */
.rc {
  margin-left: 2px;
  padding-right:2px;
  /* max-height:500px; zpusobuje dvojity scrollbar */
  overflow-y: auto;
}
.rc_noscroll { margin-left: 24px; padding-right:2px;  }
.addinfo { text-align:right; margin-right:5px;}
.olPopupCloseBox { float:right !important; right:17px  !important;}
.foto_thumb { border:none; margin-top:4px; }
.foto_segment { border:none; width:100%; margin-bottom: 14px }
		 
/* END Popup */

div.olControlZoom a {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 18px;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;    
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 22px;
    width: 22px;
    line-height: 19px;
    background: #666666; /* fallback for IE - IE6 requires background shorthand*/
    background: rgba(0, 0, 0, 0.3);
    filter: alpha(opacity=60);
}
div.olControlZoom a:hover {
    background: #444444; /* fallback for IE */
    background: rgba(0, 0, 0, 0.5);
    filter: alpha(opacity=80);
}
a.olControlZoomIn {
    border-radius: 4px 4px 0 0;
}
a.olControlZoomOut {
    border-radius: 0 0 4px 4px;
}

.cleaner {
  clear: both
}
#panel {
  position: absolute;
  top: 55px;
  bottom: 0px;
  width: 260px;
  padding: 10px;
  overflow: auto;
}
#panel-header {
  height: 48px;
}
#panel-header img {
  float: left;
  margin-right: 5px;
}
div .jpSearch {
  width: 100%;
  margin-bottom: 5px;
}
.jpSearch img {
  float: left;
  margin-right: 5px;
}
.jpSearch input {
  width: 215px;
}
#jpStart {
  margin-top: 20px;
}
#jpPlans {
  clear: both;
  width: 100%;
  height: 20px;
  margin-top: -10px;
}
#jpPlanButtonDiv {
  display: none;
  float: right;
  font-size: 18px;
}
div .jpPlanType {
  float: left;
  width: 70px;
  height: 50px;
  margin: 5px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
#jpPlanTypeSelector {
  display: none;
  height: 60px;
}
#jpPlanTypeSelector .selected {
  font-weight: bold;
}
#jpPlanTypeSelector div:hover {
  /*background-color: #EBF2FC;*/
  background-color: #f0f0f0;
}
#balanced {
  border-bottom-color: yellow;
}
#quietest {
  border-bottom-color: green;
}
#fastest {
  border-bottom-color: red;
}
#jpInstructions table .turn {
  height: 20px;
  width: 30px;
}
#jpInstructions tr:hover {
  background-color: #f0f0f0;
}
#jpInstructions tr td.distance {
  color: #a0a0a0;
}
#map {
  left: 270px;
}
