{% load compress %}
{% load static %}
{% load raven %}
<!DOCTYPE html>
<html manifest="{% url "appcache_view" %}">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  {% compress css file main_css %}
  <link rel="stylesheet" href="{% static "bow/jqueryui/themes/base/jquery-ui.css" %}" type="text/css" />

  <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "css/openlayers.css" %}" type="text/css" /> 
  <link rel="stylesheet" href="{% static "css/google.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "css/layerswitcher.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "bow/lightbox/dist/css/lightbox.css" %}" type="text/css" />
  <link rel="stylesheet" type="text/css" href="{% static "fluent_comments/css/ajaxcomments.css" %}" />
  <link rel="stylesheet" href="{% static "feedback/main.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "css/prahounakole.less" %}" type="text/less" />
  {% endcompress %}
  {% compress css file main_css_print %}
  <!-- chrome nema rad media print wuery uvnitr, obecneho css ;( nebo co ) -->
  <link rel="stylesheet" href="{% static "css/print.css" %}" type="text/css" media="print" />
  {% endcompress %}

  {% compress js file main_js %}
  <script type="text/javascript" src="{% static "bow/jquery/dist/jquery.min.js" %}"></script>
  <script type="text/javascript" src="{% static "bow/bootstrap/dist/js/bootstrap.min.js" %}"></script> <!-- Bootstrap musi byt hned za Jquery, resp, pret tools apod. -->
  <script type="text/javascript" src="{% static "bow/jquery.tools/index.js" %}"></script>
  <script type="text/javascript" src="{% static "js/char_parameters.js" %}"></script>
  <script type="text/javascript" src="{% static "bow/openlayers/OpenLayers.PNK.js" %}"></script>
  <script type="text/javascript" src="{% static "js/OpenStreetMap.js" %}"></script>
  <script type="text/javascript" src="{% static "js/cs-CZ.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.ba-hashchange.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/search.js" %}"></script>
  <script type="text/javascript" src="{% static "js/csapi.js" %}"></script>
  <script type="text/javascript" src="{% static "js/mapa.js" %}"></script>
  <script type="text/javascript" src="{% static "bow/jqueryui/jquery-ui.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/main-page.js" %}"></script>
  <script type="text/javascript" src="{% static "bow/lightbox/dist/js/lightbox.min.js" %}"></script>
  <script type="text/javascript" src="{% static "bow/jquery-persist/jquery.cookie.js" %}"></script>
  <script type="text/javascript" src="{% static "bow/jquery-persist/jquery.persist.js" %}"></script>
  <script type="text/javascript" src="{% static "feedback/jquery.form.js" %}"></script>
  <script type="text/javascript" src="{% static "feedback/main.js" %}"></script>
  <script type="text/javascript" src="{% static "bow/css-browser-selector/css_browser_selector.js" %}"></script>
  {% endcompress %}
  <script type="text/javascript"  src="https://cdn.ravenjs.com/2.2.0/raven.min.js"></script>
  <script>if(typeof Raven !== 'undefined'){Raven.config('{% sentry_public_dsn %}').install()}</script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.26&key=AIzaSyAMynmNOoU_M2mf0xca6cUJQAmwkx6cT_8"></script>

   <link rel="alternate" type="application/rss+xml" title="Novinky v mapě" href="{% url 'novinky_feed' %}" />
   <link rel="alternate" type="application/rss+xml" title="Uzavírky" href="{% url 'uzavirky_feed' %}" />
   <link rel="alternate" type="application/rss+xml" title="Nejnovější komentáře" href="{% url 'latest_comments_feed' %}" />

  <title>Mapa Prahou na kole - cyklomapa města {{ mesto.sektor }} </title>

    <script type="text/javascript">
        var mapconfig = {};
        mapconfig['vrstvy'] = [];
        {% for v in vrstvy %}
            {% if center_poi.marker.layer.pk == v.pk %}
                enabled = "True";
            {% else %}
                enabled = "{{v.enabled}}";
            {% endif %}
            mapconfig['vrstvy'].push(["{{v.name}}", "{% url 'kml_view' v.slug %}", enabled, "{{v.slug}}"]);
        {% endfor %} 
        mapconfig['basezoom'] = {{ mesto.zoom }};
        mapconfig['address_search_area'] = "{{ mesto.sektor.geom.extent|join:"," }}";
        mapconfig['maxzoom'] = {{ mesto.maxzoom }};
        mapconfig['baselon'] = {{ mesto.geom.x }};
        mapconfig['baselat'] = {{ mesto.geom.y }};
        {% if center_poi %}
            mapconfig['zoom'] = 15;
            mapconfig['lon'] = {{ center_poi.geom.centroid.x }};
            mapconfig['lat'] = {{ center_poi.geom.centroid.y }};
            mapconfig['center_feature'] = {{ center_poi.id }};
        {% else %}
            mapconfig['zoom'] = mapconfig['basezoom'];
            mapconfig['lon'] = mapconfig['baselon'];
            mapconfig['lat'] = mapconfig['baselat'];
        {% endif %}
    </script>

  </head>
  <body onload="init(mapconfig)">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-22281359-2', 'auto');
      ga('send', 'pageview');
    </script>
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:345464,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <div id="my_map_controls">
       <a href="#" id="layers-switch" title="Změnit předvolby mapy" data-toggle="modal" data-target="#modal-layer"></a>
       <a href="#" id="city-switch" title="Přepnout město" data-toggle="modal" data-target="#modal-city"></a>
       <a href="#" id="zoom-reset" title="Obnovit pohled mapy" data-toggle="modal"></a>
       <a href="#" id="geolocate" title="Přiblížit na aktuální polohu" data-toggle="modal"></a>
       <a href="#" id="zoom-in" title="Zoom in" data-toggle="modal"></a>
       <a href="#" id="zoom-out" title="Zoom out" data-toggle="modal"></a>
    </div>

      <div id="core" class="container">
        {% include "filter.svg" %}
        <div class="row">
          <div id="panel">
            <span class="panel_switch_holder">
              <a class="panel_switch" href="#"></a>
            </span>
            <!-- sprclej panel -->
            <div class="row dildo hide">
               <a class="home" href="http://mapa.prahounakole.cz"><img src="{% static "css/prazak.png" %}" alt="mapa.prahounakole.cz" width="48px" height="46px">
                </a>
            </div>

            <!-- Panel v plne krase -->
            <div class="row gold">
              <nav class="col-md-10 col-md-offset-1">
                <div class="row centred">
                  <div class="col-md-12 logo">
                    <a href="http://mapa.prahounakole.cz">Prahou na kole <img src="{% static "css/prazak.png" %}" alt="mapa.prahounakole.cz">
                    </a>
                  </div>
                  <div class="row tabs">
                    <div class="col-md-3">  
                      <a href="#" class="tab_switch active">
                        <span class="sprite mapa btn mode-btn"></span>
                        <label>Vyhledat</label>
                      </a>
                    </div>
                    <div class="col-md-3 ">  
                      <a href="#hledani" class="tab_switch">
                        <span class="sprite btn mode-btn hledani"></span>
                        <label>Vyhledat trasu</label>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="#informace" class="tab_switch">
                      <span class="sprite  btn mode-btn informace"></span>
                      <label>Informace</label>
                      </a>
                    </div>
                    <div class="col-md-3">  
                      <a id="feedback-btn" class="tab_switch feedback_button">
                      <span class="sprite  btn mode-btn feedback"></span>
                      <label>Napište nám</label>
                      </a>
                    </div>
                  </div>
                </div>
              </nav>
              <article>
                <div id="content" class="col-md-10 col-md-offset-1">
                  <div id="poi_box" class="row">
                    <div class="col-md-12 detail">
                      <div id="poi_text" class="cont"></div>
                    </div>
                  </div>
                  <!-- here comes the treasure -->
                  <div id="panel-content">
                     <div id="mapa" data-src="/panel-mapa/" class="panel row">
                     </div>
                     <div id="hledani" data-src="/panel-hledani/" class="panel row">
                     </div>
                     <div id="informace" data-src="/panel-informace/" class="panel row">
                     </div>
                  </div>
                </div>

              </article>
            </div>
          </div>
          <div class="map_holder">
          <!-- map width is defined dynamicaly in man_page.js -->
          <!-- <div class="map_holder"> -->
            <div id="map"></div>
          </div>
        </div>
      </div>

      {% include "modal-layers.html" %}
      {% include "feedback/feedback.html" %}
  </body>
</html>
