<!-- TADY SE BUDE GENEROVAT OBSAH VRSTEV APOD. -->
  <div id="modal-layer" class="modal fade">
     <a type="button" class="close-me" data-dismiss="modal">X</a>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              {% for preset in presets %}
              <div class="col-md-3 col-sm-6 each-view change-layer" data-name='{{preset.name}}' data-baselayer='{{preset.base_layer.slug}}' data-overlayers='["{{preset.overlay_layers_slugs|join:"\", \""}}"]' title="{{ preset.desc }}">
                 <a href="javascript:void(0)" data-dismiss="modal">
                   <img src="{{ preset.icon.url }}" class=""/>
                   {{ preset.name }}
                 </a>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <b id="advanced_switch">Pokročilé nastavení</b>
                <div id="layer_switcher"></div>
                <div id="layer_toggles"><b id="enable_all_layers">Vše</b><b id="enable_none_layers">Nic</b></div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <div id="modal-city" class="modal fade">
     <a type="button" class="close-me" data-dismiss="modal">X</a>
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- <div class="modal-header">
          
        </div> -->
        <div class="modal-body">
          <div class="container">
            <div class="row centred">
            <span class="globe"></span>
            <br><br>
              {% for mesto in mesta %}
                <a href="http://{{ mesto.sektor.slug}}.dopracenakole.net/">{{ mesto.sektor.name }}</a><br>
              {% endfor %}
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->