    <!-- TADY SE BUDE GENEROVAT OBSAH VRSTEV APOD. -->
      <div id="modal-layer" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <b type="button" class="" data-dismiss="modal">Close</b>
            </div>
            <div id="layer_switcher"></div>
            <div class="modal-body">
              {% for preset in presets %}
              <a href="javascript:activateLayers('{{preset.base_layer.name}}', ['{{preset.base_layer_names|join:"', '"}}']);">
                 <img src="media/{{ preset.icon }}" width="150px"/>
                 {{ preset.name }}
              </a> <br/>
              {% endfor %}
              <hr/>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
