{% load static cache %}
<div id="uvod" class="panel">
    <ul>
      <li>
          <a href='#panel-uvodni-zprava' style="cursor:pointer;" title="Komentáře k jednotlivým bodům">Info</a>
      </li>
      <li>
        <a href='#panel-legenda' style="cursor:pointer;" title="Zobrazí základní legendu mapy přímo v panelu">Legenda</a>
      </li>
      <li>
          <a href='#panel-historie' style="cursor:pointer;" title="Naposledy změněné body">Změny</a>
      </li>
      <li>
          <a href='#panel-misto' style="cursor:pointer;" title="Popis místa">Popis</a>
      </li>
    </ul>

<div class="panel-content">
  <div id="panel-legenda">
    <div class="inner">
    <h3 id="hidden-header" class="margin_t_2">Základní značky v cyklomapě</h3>
    <p class="desc_vlastnosti">
      {% cache 3600 legenda %}
      {% for l in legenda %}
      <img src="{{ l.obrazek.url }}"> &nbsp; {{ l.nazev }}<br/>
      {% endfor %}
      {% endcache %}
    </p>
    </div>
  </div>

  <div id="panel-misto">
    <div class="inner">
       <div id="load-misto"></div>
    </div>
  </div>

  <div id="panel-historie">
    <div class="inner">
       <h3 id="hidden-header" class="margin_t_2">Poslední změny v mapě</h3>
       {% include "panel-historie.html" %}
    </div>
  </div>


  <div id="panel-uvodni-zprava">
    <div class="inner">
    {{ mesto.uvodni_zprava|safe }}
    </div>
  </div>

</div>

<div id="panel-credits">
  {% if mesto.slug == "mapa" %}
  <p>Cyklomapa Prahou na kole je zde s vámi už od roku 2006. V letech 2011-12 podpořilo vývoj mapy Hlavní město Praha</p>
  {% else %}
  Tyto stránky vyvíjí <a href="http://www.auto-mat.cz/">Auto*Mat</a> a provozuje <a href="http://prahounakole.cz/">Prahou na kole</a>.
  Dotazy k aplikaci zasílejte na mapa@prahounakole.cz.
  {% endif %}
</div>

</div>

