{% load humanize cache %}
<div>
   {% cache 3600 historie mesto.sektor.slug %}
   {% for poi in historie %}
      <a href="{{ poi.get_absolute_url }}" onclick="selectFeatureById('{{ poi.marker.layer.slug }}', {{poi.id}});return false;" title="{{ poi.last_modification|naturalday }}">
      {% if u.marker.default_icon %}
         <img src="{{ poi.marker.default_icon.url }}" title="{{ poi.last_modification|naturalday }}" alt="{{ poi.marker.name }}">
      {% endif %}
         {{ poi.name|safe }}
      </a>
      <br/>
   {% endfor %}
   {% endcache %}
</div>
