{% load static %}

<!-- Bootstrap aacordeon nelze pouzit podle vseho diky aktualni kolizi jquery verze -->

<div id="informace" class="panel row">

  <div class="col-md-12 harmonika">
    <h4>
       <a href="#" class="open_txt">Uzavírky</a>
    </h4>
    <div class="txt active">
     {% include "panel-uzavirky.html" %}
    </div>
  </div>

  <div class="col-md-12 harmonika">
    <h4>
       <a href="#" class="open_txt">Poslední změny</a>
    </h4>
    <div class="txt">
      {% include "panel-historie.html" %}
    </div>
  </div>

  <div class="col-md-12 harmonika">
    <h4>
       <a href="#" class="open_txt">Legenda</a>
    </h4>
    <div class="txt">
      {% include "panel-legenda.html" %}
    </div>
  </div>

  <div class="col-md-12 harmonika">
    <h4>
       <a href="#" class="open_txt">O mapě</a>
    </h4>
    <div class="txt">
      {{ config.ABOUT_MAP|safe }}
    </div>
  </div>

</div>
