{% load static cache %}
<div id="uvod" class="panel">

  <div class="submenu wide_stretch">
   <div class="inner">
    <ul>
      {% if mesto.vyhledavani %}
      <li>
        <a href="/#hledani" title="Vyhledání trasy pro cestu na kole">Najít trasu</a>
      </li>
      {% endif %}
      <li>
        <a href="/?layers=0000BFFFFFFTFT" title="Dlouhodobé uzavírky, zimní údržba">Mapa uzavírek</a>
      </li>
      <li>
        <a href="/?layers=0000BFFFFFFFTT" title="Místa, která čekají na úpravu, nebo byla upravena svépomocí">Cykloopatření</a>
      </li>
      <li>
        <a onclick="$('#panel-legenda').toggle();" style="cursor:pointer;" title="Zobrazí základní legendu mapy přímo v panelu">Základní legenda</a>
      </li>
      <li>
          <a onclick="$('#panel-historie').toggle();" style="cursor:pointer;" title="Naposledy změněné body">Poslední změny</a>
      </li>
      <li>
          <a onclick="$('#panel-comments').toggle();" style="cursor:pointer;" title="Komentáře k jednotlivým bodům">Komentáře</a>
      </li>
    </ul>
  </div>
</div> 

<div class="panel-content">
  <div id="panel-legenda">
    <div class="inner">
    <h3 id="hidden-header" class="margin_t_2">Základní značky v cyklomapě</h3>
    <p class="desc_vlastnosti">
      {% cache 3600 legenda %}
      {% for l in legenda %}
      <img src="{{ l.obrazek.url }}"> &nbsp; {{ l.nazev }}<br/>
      {% endfor %}
      {% endcache %}
    </p>
    </div>
  </div>

  <div id="panel-comments">
    <div class="inner">
       <h3 id="hidden-header" class="margin_t_2">Komentáře</h3>
       {% if center_poi %}
          <div id="load-comments"></div>
       {% endif %}
    </div>
  </div>

  <div id="panel-historie">
    <div class="inner">
       <h3 id="hidden-header" class="margin_t_2">Poslední změny v mapě</h3>
       {% include "panel-historie.html" %}
    </div>
  </div>


  <div id="panel-uvodni-zprava">
    <div class="inner">
    {{ mesto.uvodni_zprava|safe }}
    </div>
  </div>

</div>

<div id="panel-credits">
  {% if mesto.slug == "mapa" %}
  <p>Cyklomapa Prahou na kole je zde s vámi už od roku 2006. V letech 2011-12 podpořilo vývoj mapy Hlavní město Praha</p>
  {% else %}
  Tyto stránky vyvíjí <a href="http://www.auto-mat.cz/">Auto*Mat</a> a provozuje <a href="http://prahounakole.cz/">Prahou na kole</a>.
  Dotazy k aplikaci zasílejte na mapa@prahounakole.cz.
  {% endif %}
</div>

</div>

