{% load static %}
<div id="informace" class="panel row">
  <div class="col-md-12">
  <h4>Informace</h4>
  <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur iusto doloremque, officiis quibusdam laboriosam eaque ut aperiam asperiores fugiat quisquam! Suscipit officiis libero doloribus aliquid facilis dolor eveniet porro eos perferendis doloremque incidunt unde, assumenda labore deleniti distinctio earum? Sunt quidem voluptate amet dicta dolorem sit ex laboriosam, aut, suscipit.
  </p>
  </div>
</div>
