#head {
  padding-top: 0;
  padding-left: 0;
}
#dpnk-head {
  color: #FFFFFF;
  background-color: #D44413;
  background-image: linear-gradient(to bottom, #CE4213, #DD4814);
  background-repeat: repeat-x;
  font-family: 'Roboto',sans-serif;
  text-shadow: 0 1px 0 #CE4213;
  height: 43px;
  padding-left: 120px;
}
#titulka a { background: none; }
#titulka img { height: 28px; }
.menu a { 
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  margin-right: 50px;
}
