#panel,
.olControlZoomPanel,
.panel_switch,
#left,
.olControlPermalink,
.SimpleLayerSwitcher,
.olControlPanZoom,
#head,
.olControlPanZoomBar,
.olControlLayerSwitcher,
.olControlLayerSwitcher {
  display: none !important;
}

.olControlAttribution {
  bottom: 0px;
}

#map {
  border: 1px solid black;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
}
