{% load static %}
<div id="hledani" class="panel">
    <div id="panel-header">
        <a href="#"><img src="{% static "img/close.gif" %}" class="pull-right" /></a>
        <img id="cs-logo" src="{% static "img/cs_logo.png" %}" width="40" height="40" />
        Vyhledávání tras Vám poskytujeme ve spolupráci se <a href="http://www.cyclestreets.net">CycleStreets.net</a>
    </div>

    <div class="cleaner">
        <b>Vyhledávání tras je ve vývoji. Podoba a funkčnost se bude dále měnit. Nepřebíráme zodpovědnost za nekorektní vedení nalezených tras.</b>
    </div>

    <form id="jpForm">
    <div id="jpStart" class="jpSearch cleaner">
        <img src="{% static "img/route-start.png" %}" />
               <input id="jpStartStreetSearch" type="text" name="street_search_address" value="" />
    </div>

    <div id="jpFinish" class="jpSearch cleaner">
        <img src="{% static "img/route-stop.png" %}">
        <input id="jpFinishStreetSearch" type="text" name="street_search_address" value="" />
    </div>

    <div id="jpPlans" class="cleaner">
        <div id="jpPlanMessage">Čekání na server</div>
        <input id="jpPlanButton" type=submit title="Hledat" value="" />
    </div>
    </form>

    <div id="jpPlanTypeSelector" class="cleaner">
        <div id="balanced" class="jpPlanType"></div>
        <div id="fastest" class="jpPlanType"></div>
        <div id="quietest" class="jpPlanType"></div>
    </div>

    <div id="jpInstructions" class="cleaner"></div>
</div>
