{% load static %}
<div id="hledani" class="panel">
{% comment %}
    <div id="panel-header">
        <div id="panel-tools" class="pull-right">
           <a href="#hledani">Nové hledání</a> |
           <a href="#">Zrušit hledání <img src="{% static "img/close.gif" %}" /></a>
        </div>

        <div id="cyclestreets-attribution" class="cleaner">
          <img id="cs-logo" src="{% static "img/cs_logo.png" %}" width="40" height="40" />
          Vyhledávání tras Vám poskytujeme ve spolupráci se <a href="http://www.cyclestreets.net">CycleStreets.net</a>
        </div>
    </div>

    <div class="cleaner">
        <b>Vyhledávání tras je v ověřovacím provozu. Při jízdě po městě dbejte své osobní bezpečnosti a pravidel silničního provozu. Nepřebíráme zodpovědnost za nekorektní vedení nalezených tras.</b>
    </div>
{% endcomment %}
    <div class="submenu wide_stretch">
        <ul>
            <li>
                <a href="/#" title="Základní cyklomapa Prahou na kole">Standardní mapa</a>
            </li>
            <!--<li>
                <a href="/#hledani"  title="Vyhledání trasy pro cestu na kole" class="active">Najít trasu</a>
            </li>-->
            <li>
                <a href="/?layers=0000BFFFFFFTFT" title="Dlouhodobé uzavírky, zimní údržba">Mapa uzavírek</a>
            </li>
            <li>
                <a href="/?layers=0000BFFFFFFFTT" title="Místa, která čekají na úpravu, nebo byla upravena svépomocí">Cykloopatření</a>
            </li>
	    <li>
	      <a href="http://prahounakole.cz/kudy-po-praze/mapa/vyhledavac/" target="_blank">Návod pro hledání</a>
	    </li>
        </ul>
    </div> 

    <form id="jpForm" class="search wide_stretch">
        <i class="point_A"></i> 
        <input id="jpStartStreetSearch" class="jpSearch input_A right_arrowed" type="text" name="street_search_address" value="" />
        <br />
        <input id="jpFinishStreetSearch" class="jpSearch input_B right_arrowed" type="text" name="street_search_address" value="" />
        <i class="point_B"></i> 
        <div id="jpPlanMessage">Čekání na server</div>
        <input id="jpPlanButton" class="search_submit send_arrow" type=submit title="Hledat" value="" />
    </form>

    <div id="jpPlanTypeSelector" class="chart wide_stretch loaded">
        <div class="in_chart">
            <div id="needle" class="hard_way"></div>
            <div class="wide_stretch centred margin_b_05">
                <span id="balanced" class="jpPlanType way_2">35km/20min</span>
            </div>
            <div class="wide_stretch">
                <span id="quietest" class="jpPlanType align-left way_1">45km/25min</span>
                <span id="fastest" class="jpPlanType align-right way_3">5km/50min</span>
            </div>
        </div>
    </div> 


{% comment %}
    <div id="jpPlanTypeSelector" class="cleaner">
        <div id="balanced" class="jpPlanType"></div>
        <div id="fastest" class="jpPlanType"></div>
        <div id="quietest" class="jpPlanType"></div>
    </div>
{% endcomment %}

    <div id="jpInstructions" class="cleaner wide_stretch"></div>

    <div id="cyclestreets-attribution" class="wide_stretch">
      <img id="cs-logo" src="{% static "img/cs_logo.png" %}" width="40" height="40" />
      <p>Vyhledávání tras Vám poskytujeme ve spolupráci s&nbsp;<a href="http://www.cyclestreets.net">CycleStreets.net</a></p>
    </div>



</div>
