{% load static cache %}
<div id="uvod" class="panel">

  <div class="submenu wide_stretch">
   <div class="inner">
    <ul>
      {% if mesto.vyhledavani %}
      <li>
        <a href="/#hledani" title="Vyhledání trasy pro cestu na kole">Najít trasu</a>
      </li>
      {% endif %}
      <li>
        <a href="/?layers=0000BFFFFFFTFT" title="Dlouhodobé uzavírky, zimní údržba">Mapa uzavírek</a>
      </li>
      <li>
        <a href="/?layers=0000BFFFFFFFTT" title="Místa, která čekají na úpravu, nebo byla upravena svépomocí">Cykloopatření</a>
      </li>
      <li>
        <a onclick="toggle('panel-hidden')" title="Zobrazí základní legendu mapy přímo v panelu">Základní legenda</a>
      </li>
    </ul>
  </div>
</div> 

<script type="text/javascript" >
function toggle(obj) {
	var el = document.getElementById(obj);
	if ( el.style.display != 'none' &  el.style.display != '' ) {
		el.style.display = 'none';
	}
	else {
		el.style.display = 'block';
	}
}

</script>

<div class="panel-content">
  <div id="panel-hidden">
    <div class="inner">
    <p id="hidden-header" class="margin_t_2" onClick="toggle('panel-hidden')">Základní značky v cyklomapě</p>
    <p class="desc_vlastnosti">
      {% cache 3600 legenda %}
      {% for l in legenda %}
      <img src="{{ l.obrazek.url }}"> &nbsp; {{ l.nazev }}<br/>
      {% endfor %}
      {% endcache %}
    </p>
    </div>
  </div>


  <div id="panel-hidden2">
  {{ mesto.uvodni_zprava|safe }}
  </div>

</div>

<div id="panel-credits">
  <p>Cyklomapa Prahou na kole je zde s vámi už od roku 2006. V letech 2011-12 podpořilo vývoj mapy Hlavní město Praha</p>
</div>

</div>

